@charset "utf-8";
/* CSS Document */

.wf-notosansjapanese { font-family: "Noto Sans JP"; }

h4 {
	margin-bottom: 0.6em;
	padding-left: 10px;
	border-left: #900 solid 12px;
	font-size: 22px;
	color: #C33;
}
