@charset "utf-8";

/* common area */
body {
	background-image: url(parts/bg01.gif);
}

h1,h2,h3,h4,p,ul,ol,table,th,tr,td,li,a,img,blockquote,caption {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	text-indent: 0;
	text-decoration: none;
	border-style: none;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #222;
}

ul,ol,li {
	list-style: none inside none;
	text-indent: 0;
}

#wrapper {
	width: 950px;
	height: 1057px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(parts/bg_zou4.gif);
}
/* common end */

/* header area */
#header {
	padding-top: 13px;
	width: 950px;
	height: 122px;
	background-image: url(parts/index/header_bg.jpg);
}

#header h1 {
	margin-left: 78px;
	width: 300px;
	height: 101px;
	float:left;
	margin-bottom: 21px;
}

#header .header_cap {
	font-size: 16px;
	line-height: 18px;
	text-align: right;
	padding-right: 228px;
	margin-top: 43px;
	color: #f9e9e9;
	font-weight: bold;
}

#header .tel {
	margin-top: 10px;
	font-size: 20px;
	text-align: right;
	padding-right: 45px;
	color: #555;
	font-weight: bold;
}
#navi {
	position: relative;
	z-index: 20;
	clear: left;
	width: 950px;
	height: 45px;
	background-image: url(parts/index/navi_bg.jpg);
	font-size: 20px;
	line-height: 20px;
	padding: 0;
	margin: 0;
}

#navi .navi_left {
	margin-left: 83px;
}

#navi li {
	float: left;
	width: 130px;
	height: 45px;
	overflow: hidden;
}

#navi a {
	display: block;
	width: 110px;
	height: 20px;
	padding: 15px 10px 10px 10px;
	color: #f9e9e9;
	font-weight: bold;
	background-image: url(parts/hover.gif);
	text-align: center;
}

#navi .current {
	background-image: url(parts/houmon.gif);
}

#navi .small {
	font-size: 17px;
}
/* header end */

/* contents area */
#content,#accept,#room,#education,#dayflow,#schedule,#faq,#access {
	clear: left;
	font-size: 87.5%;
}
.b_auto {
	margin-right: auto;
	margin-left: auto;
}
.t_left { text-align: left; margin: 0; }
.t_right { text-align: right; margin: 0; }
.t_center { 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.f_left { float: left; }
.f_right { float: right; }
.clear_left { clear: left; }
.clear { clear: both; }
.bold { font-weight: bold; }
.inline { display: inline; }
.space0 { margin :0; padding: 0; }
.ret {
	width: 144px;
	height: 15px;
	background-image: url(parts/btn_return1.gif);
	background-repeat: no-repeat;
    padding: 30px 50px 10px 0;
	margin: 24px auto 0;
}
.w_bg { background-image: url(parts/btn_return_w.gif); }
.static { position: static; }
.p_rela { position: relative }
/* top page area */
#top_left {
	margin-bottom: 0;
	width: 55px;
	height:762px;
	background-image: url(parts/index/left_bg.jpg);
	background-repeat:no-repeat;
}
#top_right {
	margin-bottom: 0;
	width: 55px;
	height: 762px;
	background-image: url(parts/index/right_bg.jpg);
	background-repeat: no-repeat;
}
.b_left {
	width: 55px;
	height: 134px;
	margin-top: 535px;
	text-indent: -9999px;
	background-image:url(parts/index/baloon_left.jpg);
	background-repeat: no-repeat;
	cursor: pointer;
}
.b_right {
	width: 55px;
	height: 137px;
	margin-top: 82px;
	margin-left: 1px;
	text-indent: -9999px;
	background-image: url(parts/index/baloon_right.jpg);
	background-repeat: no-repeat;
	cursor: pointer;
}
.baloon:active {
	background-image: url(parts/index/clear_bg.gif);
	}
#board {
	position: relative;
	z-index: 5;
	width: 840px;
	height: 227px;
	border-bottom: solid 1px #ffb593;
	margin-top: 45px;
	margin-left: 55px;
}
#command { position: relative;width: 265px; height: 225px;z-index: 10; }
#command .zou_memo {
	position: absolute;
	top: 10px;
	left: 30px;
	width: 73px;
	height: 89px;
	padding: 5px 0 0 10px;
	background-image: url(parts/index/img_memo.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	font-size: 68.75%;
}
#command .zou_memo:hover {
	position: absolute;
	background-image: url(parts/index/nazo.jpg);
	background-repeat: no-repeat;
	width: 265px;
	height: 225px;
	text-indent: -9999px;
}
#board .img_zou { 
	margin: 21px 0 0 135px;
	position: absolute;
}
#board .main_image {
	height: 70px;
	width: 290px;
	padding: 150px 15px 8px 201px;
	background-image:url(parts/index/main_img.jpg);
	background-repeat: no-repeat;
	font-size: 62.5%;
	line-height: 2em;

}
#canvas {
	background-color: #fff;
	border: solid 3px #630;
}
#movie {
	position: absolute;
	padding-top: 30px;
	padding-left: 314px;
	height: 200px;
	overflow: hidden;
}
#movie .mov img { 
	border: solid 3px #630;
	margin-bottom: 20px;
}
#top {
	width: 840px;
	height: 532px;
	background-color: #fff;
	margin: 0 auto;
	background-image: url(parts/index/top_bg.jpg);
	background-repeat:repeat-x;
}
#mokuhyo {
	margin: 0;
	width: 456px;
	height: 447px;
	margin: 44px 0 0 44px;
	background-color: #ffb593;
}
#mokuhyo h2 { margin-top: 38px; }
#mokuhyo ol { margin: 0 0 55px 75px; }
#mokuhyo ol li {
	font-size: 18px;
	margin: 16px 0px;
	padding-left: 35px;
	background-position: 0% center;
	background-repeat: no-repeat;
	color: #222;
	font-weight: bold;
}
#mokuhyo .no_1 { background-image: url(parts/index/no1.jpg); }
#mokuhyo .no_2 { background-image: url(parts/index/no2.jpg); }
#mokuhyo .no_3 { background-image: url(parts/index/no3.jpg); }
#mokuhyo .cap1 {
	color: #222;
	font-weight: bold;
	line-height: 220%;
}
#top .counter {
	margin: 12px 95px 0 0;
	width: 150px;
	height: 50px;
}
#event {
	width: 272px;
	height: 212px;
 	background-color: #ffeedc;
	margin: 0px 43px 0px 0;
	font-size: 87.5%;
}
h3 {
	padding: 5px 0 6px;
	width: 272px;
	height: 19px;
	background-image:url(parts/index/grad_bg.jpg);
	background-repeat: repeat-x;
}
#event p {
	width: 266px;
	height: 175px;
	background-color: #ffeedc;
	border: solid 1px #ffbf7b;
	font-size: 87.5%;
	line-height: 145%;
	padding: 2px;
	overflow: auto;
}	
#top .menu {
	height: 100px;
	margin: 8px 45px 8px 0;
}
#osirase {
	width: 272px;
	height: 102px;
	margin: 0px 43px 0 5px;
}
#osirase p {
	width: 266px;
	height: 67px; 
	padding: 2px 2px 0;
	border: solid 1px #ffbf7b;
	background-color: #ffeedc;
	font-size: 87.5%;
	line-height: 145%;
	overflow: auto;
}
.flower3 { margin: 0px 60px 0 80px;}
.foot {
	width: 835px;
	height: 14px;
	background-color: #ffefdd;
}

/* top page end */

/* contents end */

/* footer area */
#footer {
	clear: both;
	margin: 0;
	padding-top: 36px;
	background-image: url(parts/footer_bg.gif);
	background-repeat: repeat-x;
	width: 950px;
	height: 131px;
	color: #f9e9e9;
}

#footer a {
	text-decoration: underline;
}

#footer ul {
	margin-left: 50px;
}

#footer li {
	width: 145px;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	float: left;
}
#footer ul li ul {
	margin-left: 12px;
	margin-top: 0px;
}

#footer li ul li {
	font-size: 12px;
	color: #f2e9e9;
	list-style-image: url(parts/list_dot.png);
}

#footer p {
	clear: left;
	color: #f2e9e9;
	padding: 5px 0;
	font-weight: bold;
	text-align: center;
	font-size: 75%;
	line-height: 75%;
}
/* footer end */

/* mouse action */
#navi a:hover {
	color: #f9e9e9;
	background-image: none;
}

#navi li:hover {
	position: relative;
	overflow: visible;
	background-image: url(parts/naviblue.png);
}
	
#navi .current:hover {
		background-image: url(parts/houmon2.gif);
}

#footer a:visited,#footer a:link {
	color: #f9e9e9;
	font-weight: bold;
}